.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Tools {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

.BetsContainer {
}

Footer {
  width: 100%;
  text-align: center;
  font-size: 10px;
  position: absolute;
  bottom: 0;
  color: LightGreen;
}

/* mal gelassen weil coole css-action
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

